<h2>Details of a selected user</h2>

 <img src=<%= @user.photo %> alt="profile picture of <%= @user.name %>" />
 <h1><%= @user.name %></h1>
<h2><%= @user.bio %></h2>
<p>No of posts: <%= @user.posts_counter %></p>

<% @user.return_recent_posts.each do |post|%>
<h1><%= link_to post.title, user_post_path(@user, post) %></h1>
<p> <%= post.text%></p>
 <span>Likes : <%= post.likes_counter %></span>
  <span>Comments : <%= post.comments_counter %></span>
<% end %>
<%= link_to "See all posts", user_posts_path(@user.id)%>

