
  <p>
  <%= post.title %>
</p>

<p>
<%= post.text %>
</p>

<ul>
  <% post.return_recent_comments.each do |comment| %>
  <li> <%= comment.text %></li>
 <% end %> 
  </ul>

<a href="/users/<%= @user.id %>/posts/<%= post.id %>"> See more</a>